:root {
  --bs-primary: #b4dfef;
  --bs-primary-rgb: 255, 255, 255;
  --bs-secondary: #ffffff;
  --bs-secondary-rgb: 180, 223, 239;
  --bs-dark: rgb(0, 0, 0);
  --bs-dark-rgb: 3, 29, 68;
}
/* 
.banner {
  background: url(../images/Img_banner.png) no-repeat center;
  background-size: cover;
} */

.btn-outline-primary {
  --bs-btn-color: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-focus-shadow-rgb: var(--bs-primary);
  --bs-btn-active-bg: var(--bs-primary);
  --bs-btn-active-border-color: var(--bs-primary);
  --bs-btn-disabled-color: var(--bs-primary);
  --bs-btn-disabled-border-color: var(--bs-primary);
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-focus-shadow-rgb: var(--bs-primary);
  --bs-btn-active-bg: var(--bs-primary);
  --bs-btn-active-border-color: var(--bs-primary);
  --bs-btn-disabled-bg: var(--bs-primary);
  --bs-btn-disabled-border-color: var(--bs-primary);
}
.navbar-nav.nav-link {
  color: var(--bs-primary);
}
/* .navbar-nav .nav-link:hover{background-color:var(--bs--primary) ;
    --bs-btn-disabled-border-color:var(--bs-primary )

} */

.navbar-nav .nav-item .active,
.navbar-nav
  .nav-link:hover
  .navbar-nav
  .nav-link:focus
  .navbar-nav
  .nav-link:active {
  background-color: var(--bs-primary);
  color: var(--bs-dark);
}

a {
  color: inherit;
}
.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}
